{% extends 'base.html.twig' %}

{% block title %}Manga{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Manga</h1>

        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ manga.id }}</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>{{ manga.price }}</td>
                </tr>
                <tr>
                    <th>CreatedAt</th>
                    <td>{{ manga.createdAt ? manga.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>UpdatedAt</th>
                    <td>{{ manga.updatedAt ? manga.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ manga.title }}</td>
                </tr>
            </tbody>
        </table>

        <div class="mt-3">
            <a href="{{ path('app_manga_index') }}" class="btn btn-secondary">Back to list</a>

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_manga_edit', {'id': manga.id}) }}" class="btn btn-warning">edit</a>
            {% endif %}
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            {{ include('manga/_delete_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
